.filter-button {
  position: relative; /* Needed for badge positioning */
  display: flex;
  padding: var(--Mobile-XL, 12px);
  justify-content: center;
  align-items: center;
  border-radius: var(--XXXL, 99px);
  background: var(--Neutral-Neutral-050, #F6F6F6);
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.filter-button:hover {
  transform: translateY(-2px);
}

.filter-button svg {
  width: 24px;
  height: 24px;
  color: var(--Primary-Primary-400, #ED6E44); /* Icon color */
}

.filter-badge {
    /* Positioning */
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);

    /* Shape & Color */
    display: flex;
    width: 24px;
    height: 24px;
    padding: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 999px;
    background: var(--Colors-Lust-700, #B52719);

    /* Text */
    color: var(--Colors-Lust-050, #FEF4EE);
    text-align: center;
    font-family: Mundial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
