.search-page {
  padding-left: 16px;
  padding-right: 16px;
  /* Ensure content is above the fixed bottom bar */
  padding-bottom: 70px;
  padding-top: calc(var(--safe-top) + 16px);
  background-image: url('/headerBackground.svg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  max-width: 100vw;
}

.search-page-title {
  color: var(--Neutral-Neutral-050, #F6F6F6);
  text-align: center;
  font-size: 20px;
  line-height: normal;
}

/* Optional: Adjust for larger screens if needed, but keeping mobile-first */
@media (min-width: 768px) {
  .search-page-title {
    font-size: 3em;
    text-align: center; /* Center on larger screens */
  }
  .search-page-title-part1,
  .search-page-title-part2 {
    display: inline; /* Display inline on larger screens */
  }
}
